* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.keyboard {
  padding-top: 100px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard_container {
  height: auto;
  border-bottom: 5px solid black;
}
.textarea {
  border-bottom: 5px solid black;
  padding: 15px;
  width: 75%;
  height: 200px;
}
.key_btn+.key_btn{
  margin-left: 5px;
}
.key_btn {
  width: 30px;
  height: 50px;
  padding: 5px;
}

.spec_key {
  width: 100px;
  height: 50px;
  padding: 5px;
}

.active {
  border-radius: 25%;
  background: black;
  color: white;
  transition: 0.2s linear;
}

.rows {
  width: 75%;
  display: flex;
}

#Space{
  flex-basis: 100%;
}

#ShiftLeft{
  flex-basis: 25%;
}